.Card {
    height: 380px;
    width: 300px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    /* margin: 20px auto; */
    border: 2px solid #FF850B;
}

.card-img {
    width: 100%;
    height: 100%;
}

.card-img img {
    border-radius: 28px ;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-details {
    background-color: white;
    height: 160px;
    width: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 28px;
    left: 0;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-like p {
    width: fit-content;
    font-size: 0.7rem;
    border: 1px solid #C2C2C2;
    color: #C2C2C2;
    border-radius: 5px;
    padding: 5px 15px;
    line-height: 0.7rem;
}

.card-like svg {
    height: 24px;
    width: 24px;
    color: red;
    cursor: pointer;
}

.card-title p {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-price p {
    color: #9D9D9D;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.8px;
}