.herobx{
    margin: 20px 0;
    width: 100%;
    background-color: #FBFBFB;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    padding: 20px;
    gap: 20px;
    min-height: 340px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.heroImg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 12px;
}

.herocontent{
    /* width: 100%; */
    max-width: 450px;
    min-height: 300px;
    background-color: red;
}

