.herobx{
    margin: 20px 0;
    width: 100%;
    background-color: #FBFBFB;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    padding: 20px;
    gap: 20px;
    min-height: 340px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

.heroImg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 12px;
}

.herocontent{
    max-width: 450px;
    min-height: 300px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.herocontent h1{
    font-size: 2.5rem;
}

.herocontent p{
    margin: 20px 0;
}


@media screen and (max-width: 854px) {
    .hero-container{
        margin: 30px 20px;
    }
    
    .herocontent{
        max-width: 400px;
    }
}



@media screen and (max-width: 788px) {
    .herocontent{
        max-width: 360px;
    }
}


@media screen and (max-width: 712px) {
    .hero-container{
        /* margin: 30px 20px; */
        flex-direction: column;
    }
    .heroImg{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    
    .heroImg img{
        width: 100%;
    }
}